<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="kinova_sim" >


  <xacro:include filename="$(find kinova_description)/urdf/j2s7s300_standalone.xacro" />
  <xacro:include filename="$(find realsense2_camera)/urdf/_d435.urdf.xacro"/>
  <xacro:include filename="$(find kinova_description)/objects/tools.urdf.xacro"/>



</robot>
