<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="kinova_sim" >

<property name="pi" value="3.14159265"/>

  <sensor_d435 parent="tools2">
    <origin xyz="-0.010 0.055 0.01" rpy="1.5707963 0 3.1415926"/>
  </sensor_d435>

  <link
    name="tools1">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="2.0243E-6" />
      <inertia
        ixx="0.031947E-6"
        ixy="-6.6313E-24"
        ixz="-2.4676E-24"
        iyy="0.023762E-6"
        iyz="-7.8627E-24"
        izz="0.052372E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find kinova_description)/objects/tools/first.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
        <texture
          filename="$(find kinova_description)/objects//textures/blue.jpg" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find kinova_description)/objects/tools/first.STL" />
      </geometry>
    </collision>
  </link>

  <joint
    name="joint_tools1"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0.3" />
    <parent
      link="j2s7s300_link_7" />
    <child
      link="tools1" />
    <axis
      xyz="0 0 0" />
  </joint>

<link
    name="tools2">
    
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="2.0243E-6" />
      <inertia
        ixx="0.031947E-6"
        ixy="-6.6313E-24"
        ixz="-2.4676E-24"
        iyy="0.023762E-6"
        iyz="-7.8627E-24"
        izz="0.052372E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find kinova_description)/objects/tools/second.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
        <texture
          filename="$(find kinova_description)/objects//textures/blue.jpg" />
      </material>
    </visual>


    <gazebo >
      <material>Gazebo/blue</material>
    </gazebo>
</link>

<joint
    name="joint_tools2"
    type="fixed">
    <origin
      xyz="0.05 -0.015 0.0025"  
      rpy="0 -1.5707963 -1.5707963" />
    <parent
      link="tools1" />
    <child
      link="tools2" />
    <axis
      xyz="0 0 0" />
</joint>


</robot>
